body {
    background-color: #f0f0f0;
    color: #333;
    font-family: sans-serif;
}

#sidebar {
    background-color:#e8e8e8;
    color:#333;
}


#sidebar-button {
    background-color: #e8e8e8;
    color:#333;
}

button {
    background-color: #e8e8e8;
    color:#333;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin:3px;
    text-align: center;
}

button:hover {
    background-color: #f0f0f0;
}

#sidebar-button:hover {
    background-color: #f0f0f0;
}