body {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: sans-serif;
}

#sidebar-button {
    background-color: #44475a;
    color:#f8f8f2;
}

#sidebar-button:hover {
    background-color: #282a36;
}

button {
    background-color: #44475a;
    color:#f8f8f2;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin:3px;
    text-align: center;
}

button:hover {
    background-color: #282a36;
}

#sidebar{
    background-color:#44475a;
    color:#f8f8f2;
}