.editor-container {
    width: 900px;
    height: 540px;
    margin: 20px auto;
    position: relative;
}

#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}
body {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: sans-serif;
}
.tabcontent {
    display: none;
    padding: 20px;
}
.tab button {
    background-color: #44475a;
    color:#f8f8f2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tab button:hover {
    background-color: #282a36;
}

button {
    background-color: #44475a;
    color:#f8f8f2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #282a36;
}
