#editor {
    position: relative;
}
#editor-container {
    width: 95%;
    height: 95%;
}
body {
    background-color: #282a36;
    color: #f8f8f2;
}
.tabcontent {
    display: none;
    padding: 20px;
}
.tab button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tab button:hover {
    background-color: #ddd;
}
