body {
    background-color: #0B0B0B;
    color: #03EE03;
    font-family: monospace;
    font-weight: bold;
}

#sidebar-button {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: #0B1818;
    color:  #03EE03;
}

#sidebar-button:hover {
    background-color:#0B0B0B;
}

button {
    font-family: monospace;
    font-weight: bold;
    background-color: #0B1818;
    color: #03EE03;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin:3px;
    text-align: center;
}

button:hover {
    background-color:#0B0B0B;
}

#sidebar {
    background-color:#0B1818;
    color:#03EE03;
}