.editor-container {
    width: 900px;
    height: 540px;
    margin: 20px auto;
    position: relative;
}

#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 14px;
}
body {
    background-color: #1D2021;
    color: #ebdab4;
}
.tabcontent {
    display: none;
    padding: 20px;
}
.tab button {
    background-color: #1D2021;
    color:#ebdab4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tab button:hover {
    background-color: #3C3836;
}

button {
    background-color: #1D2021;
    color:#ebdab4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #3C3836;
}
