#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
body{
    background-color: #3C3836;
    color: #EBDAB4;
}
.tabcontent {
    display: none;
    padding: 20px;
  }
.tab button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
.tab button:hover {
    background-color: #ddd;
  }
  