body {
    background-color: #1D2021;
    color: #ebdab4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #1D2021;
    color:#ebdab4;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin:3px;
}

button:hover {
    background-color: #3C3836;
}

#sidebar{
    background-color:#3C3836;
    color:#ebdab4;
}

#sidebar-button {
    background-color: #3C3836;
    color:#ebdab4;
}

#sidebar-button:hover {
    background-color: #1D2021;
}